<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <div class="text-center fs-3 mb-3 fw-medium">Reset Password</div> 
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <mat-form-field class="my-2" style="width: 100%;" appearance="outline">
          <mat-label>Enter Email</mat-label>        
          <input matInput
                 type="email"
                 #passwordResetEmail
                 required
                 placeholder="Email Address" />
        </mat-form-field>
        <!-- Calling ForgotPassword from AuthService Api -->
        <button class="mb-2" mat-raised-button style="width: 100%;"
        color="primary"
         [disabled]="passwordResetEmail.value==''" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password
        </button>
      </div>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
    </div>
  </div>